name: GitHub Actions Demo
run-name: ${{ github.actor }} is testing out GitHub Actions
on:
  push:
  workflow_dispatch:
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - run: echo "secrets ${{ secrets.MY }} ."
      - run: echo "My name is ${{ vars.NAME }} "
     
